html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
list-style:none;
font-weight:normal;
font-style:normal;
border-collapse:collapse;
border-spacing:0;
}

input{outline:0; font-family:inherit;}
a{text-decoration:none; outline:0; cursor:pointer;}

.none{display:none !important;}
.block{display:block !important;}
.hidden{overflow: hidden;}


.fr{float:right !important;}
.fl{float:left !important;}

.cblue{color:#06c !important;}
.cred{color:#f00 !important;}
.bgcred{background-color:#c00 !important;}
.bgcblue{background-color:#0cf !important;}

.ico_bottom{background:url("../images/ico_bottom.png") no-repeat right center; background-size:2rem; padding-right:3rem;}
.ico_top{background:url("../images/ico_top.png") no-repeat right center; background-size:2rem; padding-right:3rem;}

html{height:100%; font-size:62.5%;}
body{height:100%; font-family: "Microsoft Yahei"; background:#fff;}

*{
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

*:not(input,textarea) {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
}
  
